[submodule "themes/paperback"]
	path = themes/paperback
	url = https://github.com/dashdashzako/paperback
[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
